.whs-labels {
  &__card {
    display: none;
  }
}

@media print {
  * {
    box-sizing: border-box;
  }
  .btn {
    display: none;
  }
  .page-break {
    page-break-after: always;
  }
    .alert {
        display: none !important;
    }

  @page {
    margin: 2cm 0;
  }
  .whs-labels {
    &__card {
      display: block;
      padding: 10px 15px;
      position: relative;

      &-content {
       // transform: rotate(90deg);
        //position: absolute;
        //top: 30%;
        //left: 30%;
      }
    }

    &__customer {
      //font-size: 100px;
        font-weight: 800;
        max-width: 1000px;
    }

    &__courier {
      font-size: 90px;
    }

    &__tag {
      font-size: 300px;
      //text-align: center;
      font-weight: 800;
      margin-left: 180px;
      //line-height: 120px;
    }
  }
}
